<booking-number-guest
                      *ngIf="bookingStep === BookingStep.NumberOfGuests"
                      [numberOfGuests]="numberOfGuests"
                      (completeNumberOfGuests)="completeNumberOfGuests($event)">
</booking-number-guest>

<booking-date-for-food *ngIf="bookingStep === BookingStep.DateAndTime" (back)="backStep()"
                       [dateAndTable]="dateAndTable"
                       (completeDateAndTable)="completeDateAndTable($event)">
</booking-date-for-food>

<booking-select-food *ngIf="bookingStep === BookingStep.SelectFood" (back)="backStep()"
                     [foods]="foods" type="food"
                     (completeSelectFoods)="completeSelectFoods($event)">
</booking-select-food>

<booking-user-info *ngIf="bookingStep === BookingStep.ExtraInfo" (back)="backStep()"
                   [userInfo]="userInfo"
                   (completeExtraInfo)="completeExtraInfo($event)">
</booking-user-info>

<booking-confirmed *ngIf="bookingStep === BookingStep.Confirmed" (back)="backStep()" [customerInfo]="customerInfo">
</booking-confirmed>