<booking-number-guest
                      *ngIf="bookingStep === BookingStep.NumberOfGuests"
                      [numberOfGuests]="numberOfGuests"
                      (completeNumberOfGuests)="completeNumberOfGuests($event)">
</booking-number-guest>

<booking-date *ngIf="bookingStep === BookingStep.DateAndTime" (back)="backStep()"
              type="food"
              [dateAndTable]="dateAndTable"
              (completeDateAndTable)="completeDateAndTable($event)">
</booking-date>

<booking-select-food *ngIf="bookingStep === BookingStep.SelectFood" (back)="backStep()"
                     [foods]="foods"
                     (completeSelectFoods)="completeSelectFoods($event)">
</booking-select-food>

<booking-extra-info *ngIf="bookingStep === BookingStep.ExtraInfo" (back)="backStep()"
                    [extraInfo]="extraInfo"
                    (completeExtraInfo)="completeExtraInfo($event)">
</booking-extra-info>

<booking-confirmed *ngIf="bookingStep === BookingStep.Confirmed" (back)="backStep()"
                   [customerInfo]="customerInfo"
                   (completeCustomerInfo)="completeCustomerInfo($event)">
</booking-confirmed>