@import "../booking.component.scss";

.content-container {
    .calender-container {
        margin-bottom: 4rem;

        .month-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            mat-icon {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 3rem;
                height: 3rem;
            }
        }

        .weekdays-list {
            display: flex;
            justify-content: space-around;

            p {
                font-size: 0.8rem;
                font-weight: 500;
                opacity: 0.8;
            }
        }

        .weekday {
            display: flex;
            justify-content: space-around;

            .date {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                &.selected {
                    background-color: black;

                    p {
                        color: white;
                    }
                }

                &.today {
                    text-decoration-line: underline;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;

                    &.holiday {
                        color: #e34c4c;
                    }

                    &.hide {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .notSupport {
        pointer-events: none;
        text-decoration: line-through;
        opacity: 0.2;
    }
}