<mat-icon class="back" matRipple (click)="onBackButton()">keyboard_backspace</mat-icon>

<div class="title-container">
	<h2>날짜를<br>선택하세요.</h2>
</div>

<div class="content-container">
	<div class="calender-container">
		<div class="month-container">
			<mat-icon matRipple (click)="moveMonth(-1)" [class.disabled]="disabledPreviousMonth">keyboard_arrow_left</mat-icon>
			<p>{{selectedMonth}}</p>
			<mat-icon matRipple (click)="moveMonth(1)" [class.disabled]="disabledNextMonth">keyboard_arrow_right</mat-icon>
		</div>
		<div class="weekdays-list">
			<p *ngFor="let day of week">{{day}}</p>
		</div>
		<div class="weekday" *ngFor="let weekday of calendar" [class.disabled]="isVacation()">
			<div class="date" *ngFor="let date of weekday" matRipple [class.disabled]="isPassed(date)" [class.selected]="isSelected(date)"
				 (click)="setSelectedDate(date)" [class.today]="isToday(date)">
				<p *ngIf="date.date !== 0" [class.holiday]="date.isHoliday && !isSelected(date)">{{date.date}}</p>
			</div>
		</div>
	</div>
	<p>시간 선택</p>
	<div class="time-container">
		<p class="time" *ngIf="isToday()">당일은 전화로 도와드릴게요.<br>(043-832-4281)</p>
		<p class="time" *ngFor="let time of timeList" (click)="setSelectedTime(time)" [class.disabled]="isVacation()"
		   [class.hide]="isToday()" [class.selected]="isSelectedTime(time)" [class.notSupport]="isTimeNotSupported(time)">{{time}}
		</p>
	</div>
</div>

<div class="button-container">
	<button mat-raised-button [class.disabled]="disabled" (click)="onNextButton()">다음</button>
</div>