<div class="calendar">
	<div class="month-info">
		<button [class.disabled]="isPassed(-1)" (click)="moveMonth(-1)">&lt;</button>
		<p>{{ currentYear }}.{{ currentMonth }}</p>
		<button (click)="moveMonth(+1)">&gt;</button>
	</div>

	<ng-content></ng-content>

	<div class="week">
		<p *ngFor="let day of week">{{day}}</p>
	</div>

	<div class="date-table" *ngFor="let week of calendar">
		<div class="date-box" *ngFor="let date of week" [class.disabled]="isPassed(date.date)">
			<p *ngIf="date.date !== 0" [class.holiday]="date.isHoliday">
				{{ date.date }}
			</p>
			<ng-container *ngIf="!isPassed(date.date) && date.date !== 0">
				<p class="content"
				   [class.expired]="getContent(date.date, '식사').expired"
				   (click)="openDialog(date.date, type)" *ngFor="let type of typeList">
					{{getContent(date.date, type).text}}
					<span *ngIf="!getContent(date.date, type).expired">
						{{getContent(date.date, type).ratio}}
					</span>
				</p>
			</ng-container>
		</div>
	</div>
</div>