.calendar {
    display: flex;
    flex-direction: column;
}

.week {
    display: flex;
    justify-content: space-around;

    .date-container{
        // width:max-content;
    }

    p {
        text-align: center;
        width:100%;
    
        &:first-of-type {
            color: #e34c4c;
        }
        &:last-of-type {
            color: #3f52b5;
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
  }