.calendar {
    display: flex;
    flex-direction: column;
}

.week {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;

    p {
        text-align: center;
        // width:100%;
    
        &:first-of-type {
            color: #e34c4c;
        }
        &:last-of-type {
            color: #e34c4c;
        }
    }
}

.date-content{
    p{
        color:#5eb917;        
    }
    p.expired {
        color:#e34c4c;
    }
}

.date-table{
    display: flex;
    justify-content: space-around;
    min-height: 5rem;

    .date-box{
        width: 100%;
    }

    p {
        text-align: center;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.holiday{
    color:#e34c4c;
}