<div class="calendar">
  <div class="month-info">
    <button (click)="previousMonth()">&lt;</button>
    <span>{{ currentYear }}.{{ currentMonth }}</span>
    <button (click)="nextMonth()">&gt;</button>
  </div>
  <div class="week">
    <p *ngFor="let day of week">{{day}}</p>
  </div>
  <div class="date-table" *ngFor="let week of calendar">
    <div class="date-box" *ngFor="let date of week" [class.disabled]="isPast(date)">
      <p *ngIf="date !== 0" [ngClass]="getDateColor(date)">
        {{ date }}
      </p>
      <p *ngIf="!isPast(date)" class="date-content">이제 좀 되나</p>
    </div>
  </div>
</div>
