.row-align {
    display: flex;
    margin: 0.3rem 0;
}

.sub-title {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.add-button {
    color: rgba(0, 0, 0, 0.5);
}

h6 {
    text-align: center;
}

.answer {
    margin-bottom: 0.5rem;
}