<div class="step">
  <h4>- 차량 등록 -</h4>
  <div class="divider"></div>

		<div class="question" [style.margin-bottom]="'0.8rem'">
			<h3 [style.margin-bottom]="'0.5rem'">1. 차량번호 등록</h3>
			<h6>공원 내 입차를 도와드립니다.</h6>
			<h6>등록할 차량번호를 적어주세요.</h6>
		</div>
		<button (click)="updateCarList(1)">추가</button>
		<button (click)="updateCarList(-1)">삭제</button>
		<div class="answer">
			<input *ngFor="let index of carIndexList" placeholder="01가01234" [(ngModel)]="model['차량번호'][index]">
		</div>
</div>

<div class="bottom">
  <button mat-button (click)="previousStep()">이전</button>
  <button mat-button (click)="onClickNextButton()">다음</button>
</div>