<div mat-dialog-content>
	<h3>{{model["성함"]}}님 안녕하세요.</h3>
	<h3 *ngIf="dataSource.length === 0">확인된 예약이 없습니다. 내용을 다시 입력해주세요.</h3>
	<h3 *ngIf="dataSource.length > 0">예약을 선택하시면, 자세히 보기로 이동합니다.</h3>
</div>

<table *ngIf="dataSource.length > 0" mat-table [dataSource]="dataSource">
	<ng-container matColumnDef="info">
		<th mat-header-cell *matHeaderCellDef>예약정보</th>
		<td mat-cell *matCellDef="let element"> {{element.info}} </td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef>상태</th>
		<td mat-cell *matCellDef="let element">{{element.status}}</td>
	</ng-container>

	<ng-container matColumnDef="link">
		<th mat-header-cell *matHeaderCellDef>자세히</th>
		<td mat-cell *matCellDef="let element" (click)="goToDetail(element)">
			<mat-icon>navigate_next</mat-icon>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-dialog-actions [align]="'center'">
	<button mat-button mat-dialog-close>취소하기</button>
	<button mat-button (click)="return()">다시 찾기</button>
</mat-dialog-actions>