<mat-icon class="back" matRipple (click)="onBackButton()">keyboard_backspace</mat-icon>

<div class="title-container">
	<h2>추가 정보를<br>입력하세요.</h2>
</div>

<div class="content-container">
	<div class="answer-box">
		<p>성함</p>
		<input type="text" placeholder="ex) 홍길동" [(ngModel)]="userInfo.name">
	</div>

	<div class="answer-box">
		<p>전화번호</p>
		<input type="tel" placeholder="ex) 010-0000-0000" [(ngModel)]="tel">
	</div>
</div>
<div class="button-container">
	<button mat-raised-button [class.disabled]="disabled" (click)="onNextButton()">다음</button>
</div>