<div mat-dialog-content *ngIf="bookingAvailable">
	<div class="field">
		<h4 class="question">
			1. 평상 대여<span>(최대:{{bookingAvailable["잔여평상"]}})</span>
		</h4>
		<div class="answer">
			<mat-form-field floatLabel="always">
				<mat-label>평상 대수</mat-label>
				<mat-icon matPrefix class="pointer" (click)="flatBench = flatBench - 1"
						  [class.disabled]="flatBench === 0">keyboard_arrow_left</mat-icon>
				<input [style.text-align]="'center'" matInput type="number" readonly placeholder="1"
					   [(ngModel)]="flatBench">
				<span matTextSuffix>대</span>
				<mat-icon matSuffix class="pointer"
						  (click)="flatBench = flatBench + 1"
						  [class.disabled]="flatBench === bookingAvailable['잔여평상']">keyboard_arrow_right</mat-icon>
			</mat-form-field>
		</div>
	</div>

	<div class="field">
		<h4 class="question">
			2. 데크 대여<span>(최대:{{bookingAvailable["잔여데크"]}})</span>
		</h4>
		<div class="answer">
			<mat-form-field floatLabel="always">
				<mat-label>데크 대수</mat-label>
				<mat-icon matPrefix class="pointer" (click)="table = table - 1"
						  [class.disabled]="table === 0">keyboard_arrow_left</mat-icon>
				<input [style.text-align]="'center'" matInput type="number" readonly placeholder="1"
					   [(ngModel)]="table">
				<span matTextSuffix>대</span>
				<mat-icon matSuffix class="pointer"
						  (click)="table = table + 1"
						  [class.disabled]="table === bookingAvailable['잔여데크']">keyboard_arrow_right</mat-icon>
			</mat-form-field>
		</div>
	</div>

	<div class="info">
		<h5>- 평상 예약금: {{reservationCost | number}}원</h5>
		<h5>- 평상(5만원)은 적정인원 4명입니다. (최대 7명)</h5>
		<h5>- 입식 데크(4만원)은 4인석입니다. (최대 5명)</h5>
		<h5>- 추가인원 비용은 1만원 입니다.</h5>
		<a class="link" href="https://hwayanghotel.github.io/#/flat-bench" target="_blank">- 더 많은 설명 보기 ></a>
	</div>
	<div class="warning" *ngIf="warning">
		<h5>인원을 고려하여, 평상을 더 선택하셔야 합니다.</h5>
		<h5>잔여 평상이 부족해 선택이 어려운 경우, 전화 상담 도와드립니다.</h5>
		<h5>원활한 예약을 위해,<br />필요하신 경우 상담 도와드립니다.<br />(043-832-4281)</h5>
	</div>
</div>

<mat-dialog-actions [align]="'center'">
	<button mat-button (click)="previousStep()">이전</button>
	<button mat-button (click)="onClickNextButton()">다음</button>
	<button mat-button *ngIf="permission" (click)="onClickNextButton(5)">마지막으로</button>
</mat-dialog-actions>