<div class="step">
	<h3>- 고객 검색 -</h3>
	<div class="divider"></div>

	<div class="form">
		<div class="question">
			<h3>1. 예약 유형 :</h3>
		</div>
		<div class="answer">
			<button [style.margin-right]="'0.3rem'"
					[class.checked]="model['예약유형']==='평상'"
					(click)="setType('평상')">평상
			</button>
			<button [class.checked]="model['예약유형']==='식사'"
					(click)="setType('식사')">식사
			</button>
		</div>
	</div>

	<div class="form">
		<div class="question">
			<h3>2. 예약자 :</h3>
		</div>
		<div class="answer">
			<input type="text" placeholder="홍길동" [(ngModel)]="model['성함']">
		</div>
	</div>

	<div class="form">
		<div class="question">
			<h3>3. 연락처 :</h3>
		</div>
		<div class="answer">
			<input type="string" placeholder="010-0000-0000" [(ngModel)]="model['전화번호']">
		</div>
	</div>

	<div class="form">
		<div class="question">
			<h3>4. 예약일 :</h3>
		</div>
		<!-- <div class="answer">
			<input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" [(ngModel)]="model['날짜']">
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</div> -->
		<div class="answer number-form">
			<input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker"
				   (dateChange)="dateChange($event)">
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</div>
	</div>

	<mat-form-field appearance="fill">
		<mat-label>Fill form field</mat-label>
		<mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
		<input matInput placeholder="Placeholder">
		<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		<mat-hint>Hint</mat-hint>
	</mat-form-field>

	<div class="info">
		<h6>※ 예약 유형과 성함, 연락처를 적어주세요.</h6>
	</div>
</div>

<div class="bottom">
	<button mat-button (click)="closeDialog()">취소</button>
	<button mat-button (click)="onSearchButton()">검색</button>
</div>