.background{
    position: fixed;
    top:0;
    left: 0;
    height: -webkit-fill-available;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.dialog{
    background-color: white;
    padding: 2rem 2rem 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-slide-toggle{
        margin-left: 0.5rem;
    }

    .bottom {
        width: 100%;
        margin: 1rem;

        button {
            width: 50%;
            font-weight: 800;
        }
    }
}

h2{
    margin: 0;
}

.divider{
    margin: 1rem;
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
    width: 100%;
}

// form{
//     width: 100%;

//     input{
//         width: 100%;
//     }
//     p.alert{
//         margin-top:0.2rem;
//         color:#e34c4c;
//     }
// }


// 여기부터 다시
div.form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    .question{
        h3{
            font-weight: 600;
            margin: 0;
        }
        width: 40%;
    }

    .answer{
        width: 60%;

        input{
            height: 2rem;
            width: -webkit-fill-available;
            text-align: center;
            border: 1px solid rgba(1, 1, 1, 0.3);
        }
    }

    .number-form {
        display: flex;
        input{
            width:inherit;
        }
    }

    button {
        background-color: transparent;
        border: 1px solid rgba(1, 1, 1, 0.3);
        width: 2rem;
        font-size: 1rem;
        cursor: pointer;

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    }
}