<div *ngIf="isOpen" class="background" (click)="closeDialog()">
  <div class="dialog" (click)="$event.stopPropagation();">
    <h2>능운대펜션 {{type}} 예약</h2>
    <p>{{model["날짜"]}} {{model["시간"]}}</p>
	<h4 *ngIf="step === 1">- 기본 정보 -</h4>
	<h4 *ngIf="step === 2">- 평상 대여 -</h4>
	<h4 *ngIf="step === 3">- 식사 예약 -</h4>
	<h4 *ngIf="step === 4">- 차량 등록 -</h4>
	<h4 *ngIf="step === 5">- 예약 확인 -</h4>
	<div class="divider"></div>

	<!-- Step 1 -->
	<div *ngIf="step === 1">
		<div class="form">
			<div class="question">
				<h3>1. 예약자 :</h3>
			</div>
			<div class="answer">
				<input type="text" placeholder="홍길동" [(ngModel)]="model['성함']">
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>2. 인원 :</h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['인원'] = model['인원'] - 1" [class.disabled]="model['인원'] === 1"> - </button>
				<input type="number" [(ngModel)]="model['인원']">
				<button (click)="model['인원'] = model['인원'] + 1"> + </button>
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>3. 연락처 :</h3>
			</div>
			<div class="answer">
				<input type="tel" placeholder="010-0000-0000" [(ngModel)]="model['전화번호']">
			</div>
		</div>
	</div>


	<!-- Step 2 -->
	<div *ngIf="step === 2">
		<div class="form">
			<div class="question">
				<h3>1. 평상 대여<span>(최대:{{bookingAvailable["잔여평상"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['평상'] = model['평상'] - 1" [class.disabled]="model['평상'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['평상']">
				<button (click)="model['평상'] = model['평상'] + 1" [class.disabled]="model['평상'] === bookingAvailable['잔여평상']"> + </button>
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>2. 테이블 대여<span>(최대:{{bookingAvailable["잔여테이블"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['테이블'] = model['테이블'] - 1" [class.disabled]="model['테이블'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['테이블']">
				<button (click)="model['테이블'] = model['테이블'] + 1" [class.disabled]="model['테이블'] === bookingAvailable['잔여테이블']"> + </button>
			</div>
		</div>
		
		<div class="info">
			<h6>- 평상(5만원)은 적정인원 4명입니다. (최대 7명)</h6>
			<h6>- 테이블(4만원)은 4인석입니다. (최대 5명)</h6>
		</div>
		<div class="warning" *ngIf="warningFlatTable">
			<h5>인원을 고려하여, 평상을 더 선택하셔야 합니다.</h5>
			<h5>잔여 평상이 부족해 선택이 어려운 경우, 전화 상담 도와드립니다.</h5>
			<h5>쾌적한 서비스를 위해,<br/>필요하신 경우 상담 도와드립니다.<br/>(043-832-4281)</h5>
		</div>
	</div>

	<div *ngIf="step === 3">
		<div class="form">
			<div class="question">
				<h3>1. 능이백숙<span>(최대:{{bookingAvailable["잔여백숙"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['능이백숙'] = model['능이백숙'] - 1" [class.disabled]="model['능이백숙'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['능이백숙']">
				<button (click)="model['능이백숙'] = model['능이백숙'] + 1" [class.disabled]="model['능이백숙'] === bookingAvailable['잔여백숙']"> + </button>
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>2. 한방백숙<span>(최대:{{bookingAvailable["잔여백숙"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['백숙'] = model['백숙'] - 1" [class.disabled]="model['백숙'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['백숙']">
				<button (click)="model['백숙'] = model['백숙'] + 1" [class.disabled]="model['백숙'] === bookingAvailable['잔여백숙']"> + </button>
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>3. 버섯찌개<span>(최대:{{bookingAvailable["잔여버섯"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['버섯찌개'] = model['버섯찌개'] - 1" [class.disabled]="model['버섯찌개'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['버섯찌개']">
				<button (click)="model['버섯찌개'] = model['버섯찌개'] + 1" [class.disabled]="model['버섯찌개'] === bookingAvailable['잔여버섯']"> + </button>
			</div>
		</div>

		<div class="form">
			<div class="question">
				<h3>4. 버섯찌개<span>(2인)</span><span>(최대:{{bookingAvailable["잔여버섯"]}})</span></h3>
			</div>
			<div class="answer number-form">
				<button (click)="model['버섯찌개2'] = model['버섯찌개2'] - 1" [class.disabled]="model['버섯찌개2'] === 0"> - </button>
				<input type="number" [(ngModel)]="model['버섯찌개']">
				<button (click)="model['버섯찌개2'] = model['버섯찌개2'] + 1" [class.disabled]="model['버섯찌개2'] === bookingAvailable['잔여버섯']"> + </button>
			</div>
		</div>

		<div class="info">
			<h6>식사 자리는 4인석으로, 테이블 당 1개 이상 식사 예약이 필요합니다.</h6>
		</div>
		<div class="warning" *ngIf="warningFlatTable">
			<h5>식사 자리가 부족합니다.</h5>
			<h5>쾌적한 서비스를 위해,<br/>필요하신 경우 상담 도와드립니다.<br/>(043-832-4281)</h5>
		</div>
	</div>

	<div *ngIf="step === 4">
		<div class="question" [style.margin-bottom]="'0.8rem'">
			<h3 [style.margin-bottom]="'0.5rem'">1. 차량번호 등록</h3>
			<h6>공원 내 입차를 도와드립니다.</h6>
			<h6>등록할 차량번호를 적어주세요.</h6>
		</div>
		<button (click)="updateCarList(1)">추가</button>
		<button (click)="updateCarList(-1)">삭제</button>
		<div class="answer">
			<input *ngFor="let index of carIndexList" placeholder="01가01234" [(ngModel)]="model['차량번호'][index]">
		</div>
	</div>


	<div class="bottom">
		<button *ngIf="step === 1" mat-button (click)="closeDialog()">취소</button>
		<button *ngIf="step > 1" mat-button (click)="step = step - 1">이전</button>
		<button *ngIf="step < 5" mat-button (click)="onClickNextButton()">다음</button>
		<button *ngIf="step === 5" mat-button (click)="reserve()">확인</button>
	</div>
  </div>
</div>
