<booking-number-guest
                      *ngIf="bookingStep === BookingStep.NumberOfGuests"
                      [numberOfGuests]="numberOfGuests"
                      (completeNumberOfGuests)="completeNumberOfGuests($event)">
</booking-number-guest>

<booking-date-for-flat-table *ngIf="bookingStep === BookingStep.DateAndTime" (back)="backStep()"
                             [dateAndTable]="dateAndTable"
                             (completeDateAndTable)="completeDateAndTable($event)"
                             (noNeedFood)="noNeedFood($event)">
</booking-date-for-flat-table>

<booking-select-food *ngIf="bookingStep === BookingStep.SelectFood" (back)="backStep()"
                     [foods]="foods" type="flat-table"
                     (completeSelectFoods)="completeSelectFoods($event)">
</booking-select-food>

<booking-user-info *ngIf="bookingStep === BookingStep.ExtraInfo" (back)="backStep()"
                   [userInfo]="userInfo"
                   (completeUserInfo)="completeUserInfo($event)">
</booking-user-info>