h2 {
    font-weight: 600 !important;
}

h5 {
    margin: 0;
}

.cancel-button {
    color: rgba(1, 1, 1, 0.6);
}

.booking-rule {
    font-size: 16px !important;
    margin-top: 2rem;
}


img {
    width: 1rem;
    height: 1rem;
}

.todayInfo {
    margin-top: 0.5rem;
    color: #5eb917;

    span {
        color: #5eb917;
    }

}

.button-copy {
    padding: 0 0.4rem;
    min-width: 0 !important;
    height: auto !important;
}

@media only screen and (max-width: 440px) {
    mat-dialog-actions {
        flex-direction: column;

        button {
            margin-left: 0 !important;
            font-weight: 700 !important;
        }
    }
}