h5 {
    margin: 0;
}

.cancel-button {
    color: rgba(1, 1, 1, 0.6);
}

a {
    margin-top: 2rem;
}

@media only screen and (max-width: 440px) {
    mat-dialog-actions {
        flex-direction: column;

        button {
            margin-left: 0 !important;
            font-weight: 700 !important;
        }
    }
}