<div mat-dialog-content>
	<ng-container *ngIf="model['상태']==='대기'">
		<h2>{{model['예약유형']}} 예약 신청을 완료하였습니다.</h2>
		<h3>{{model["성함"]}}님 안녕하세요.</h3>
		<h4 *ngIf="model['예약유형']==='식사'">
			현재 예약 대기이며, 관리자 확인 후 예약이 확정됩니다.<br />(평균 1일 소요)
		</h4>
		<h4 *ngIf="model['예약유형']==='객실'">
			현재 예약 대기이며, 관리자 확인 후 예약이 확정됩니다.<br />(평균 1일 소요)
		</h4>
		<ng-container *ngIf="model['예약유형']==='평상'">
			<h4>현재 예약 대기입니다.</h4>
			<h4>예약 확정을 위해, 아래 계좌에 예약금을 입금해주세요.</h4>
			<h5>- 계좌: 신협 132-0687-4547-6 (정경미)</h5>
			<h5>- 예약금: {{reservationCost | number}}원</h5>
			<h5>- 문의: 010-6717-4045</h5>
			<h5 [style.margin-top]="'1rem'">※ 입금 순서로 평상 예약이 완료됩니다.</h5>
			<h5>※ 평상 예약금은 환불이 불가합니다. 신중하게 예약해주세요.</h5>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="model['상태']==='수정'">
		<h2>{{model["성함"]}}님 안녕하세요.</h2>
		<h5>수정하신 {{model['예약유형']}} 예약 건을 확인 중 입니다</h5>
		<h5>관리자 확인 후 수정 내용이 확정됩니다.</h5>
	</ng-container>

	<ng-container *ngIf="model['상태']==='예약'">
		<h2>{{model['예약유형']}} 예약이 확정되었습니다.</h2>
		<h2>{{model["성함"]}}님 안녕하세요.</h2>
		<h5 *ngIf="model['예약유형']==='평상'">예약금 입금을 확인하였으며</h5>
		<h5>{{model["예약유형"]}} 예약 확정 상태입니다.</h5>
		<h5>친절하게 모시겠습니다.</h5>
	</ng-container>

	<ng-container *ngIf="model['상태']==='방문'">
		<h2>{{model["성함"]}}님 안녕하세요.</h2>
		<h2>{{model['예약유형']}} 서비스를 이용해주셔서 감사합니다.</h2>
		<h2>다음에도 방문 부탁드립니다!</h2>
	</ng-container>

	<h2 *ngIf="model['상태'] === '취소' || !model['상태']">예약 정보가 없습니다.</h2>
	<a *ngIf="showReservationRule()" [href]="serviceLink()" target="_blank">예약 규정 보기 ></a>

	<h3 class="todayInfo" *ngIf="showTodayInfo">
		당일 예약은 빠른 확인을 위해 전화 부탁드립니다.
		<a href="tel:0438324281">
			<mat-icon [style.color]="'#5eb917'">call</mat-icon>
			<span>(전화버튼)</span>
		</a>
	</h3>
</div>

<mat-dialog-actions [align]="'center'">
	<button mat-button mat-dialog-close (click)="okButton()">확인완료</button>
	<button mat-button (click)="moveToCarNum()">차량등록</button>
	<button mat-button (click)="editButton()">예약수정</button>
	<button mat-button (click)="cancelButton()" class="cancel-button">예약취소</button>
</mat-dialog-actions>