<h1 mat-dialog-title>능운대 펜션 예약<span *ngIf="permission">(주인 직접)</span></h1>

<dialog-for-type-and-date *ngIf="step === 1"></dialog-for-type-and-date>
<dialog-for-customer-info *ngIf="step === 2"></dialog-for-customer-info>
<dialog-for-flatbench *ngIf="step === 3"></dialog-for-flatbench>
<dialog-for-food *ngIf="step === 4"></dialog-for-food>
<dialog-for-car-and-memo *ngIf="step === 5"></dialog-for-car-and-memo>
<dialog-for-reservation-confirmation *ngIf="step === 6"></dialog-for-reservation-confirmation>